body {
  font-family: "Roboto";
  margin: 0;
  .view-more {
    display: block;
    margin: 10px auto 0;
    color: #f36a10;
    background: transparent;
    padding: 8px 20px;
    border-color: #f36a10;
    border-radius: 4em;
    margin: 0 auto 80px;
    cursor: pointer;
  }
  .loader {
    width: 48px;
    height: 48px;
    border: 5px solid #fff;
    border-bottom-color: #ff3d00;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    display: flex;
    margin: 80px auto;
  }
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  font-size: 10px;
  margin-bottom: 80px;
  padding: 0 10px;
  @media only screen and (min-width: 768px) {
  padding: 0 30px;
  }
  .grid-item {
    text-align: center;
    padding: 20px;
    border: 1px solid #f36a10;
    border-radius:10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .image {
    height: 200px;
    max-width: 300px;
    border-radius: 5px;
  }
  .title {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 15px auto;
  }
  .add-to-card {
    display: block;
    margin: 10px auto 0;
    background: linear-gradient(135deg, #1e4d97, #2a59a3);
    color: white;
    border-radius: 4em;
    padding: 8px 20px;
    margin-top: 30px;
    cursor: pointer;
  }
  .dimmed {
    background: gray;
    pointer-events: none;
  }
  .price-flag{
    border: 1px solid #f36a10;
    width: 100px;
    margin: auto;
    border-radius: 5px;
    padding: 5px;
    .currency{
      color: #f36a10;
    }
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.header {
  display: flex;
  justify-content: center;
  padding: 30px 0;
  margin-bottom: 30px;
  background-color: darkgray;
  .category-select {
    font-size: 10px;
    margin-right: 50px;
    height: 30px;
    border-radius: 5px;
  }
  .sort-select {
    font-size: 10px;
    height: 30px;
    border-radius: 5px;
  }
}
@media only screen and (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    font-size: 15px;
    .title {
      width: 200px;
    }
    .image {
      height: 200px;
      max-width: 330px;
      border-radius: 8px;
    }
  }
  .header {
    .category-select,
    .sort-select {
      font-size: 12px;
      border-radius: 5px;
    }
  }
}
@media only screen and (min-width: 992px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    font-size: 20px;
    .title {
      width: 300px;
    }
    .image {
      height: 250px;
      max-width: 400px;
      border-radius: 10px;
    }
  }
  .header {
    .category-select,
    .sort-select {
      font-size: 15px;
      border-radius: 5px;
    }
  }
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./Roboto-Regular.ttf") format("truetype");
}

@mixin truncate-string() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
